:root {
    --mainColor:#0091ff;
}

img {
    width: 15%;
}

@media (min-width:200px) {
    .home,
    .top,
    .question,
    .question > figure,
    .strategies,
    .strategies > article,
    .strategies figure,
    .strategies figcaption,
    .middle,
    .middle > article,
    .middle > figure,
    .bottom > aside,
    .aboutus,
    .aboutus > article {
        display: flex;
        flex-direction: column;
    }

    .home {
        padding: 3%;
    }

    .top h2 {
        color: dimgray;
        border-bottom: 3px solid var(--mainColor);
        padding-bottom: 5%;
        width: 70%;
        font-size: 32px;
    }

    .home,
    .top,
    .question,
    .question > figure,
    .strategies,
    .strategies > article,
    .strategies figure{
        row-gap: 5vh;
    }

    
    .strategies figcaption {
        row-gap: 2vh;
    }

    .question a {
        color: var(--mainColor);
        text-decoration: none;
    }

    .question img {
        width: 100%;
    }

    .strategies img {
        width: 50%;
    }

    .home h3,
    .home h4 {
        color: var(--mainColor);
        font-size: 28px;
    }

    .middle {
        row-gap: 3vh;
    }

    .middle > article {
        background-color: #f2f2f2;
        align-items: center;
        padding: 10%;
        row-gap: 8vh;
    }

    .middle i,
    .middle h4,
    .middle p {
        width: 80%;
    }

    .middle p {
        line-height: 2.0;
    }

    .middle i {
        text-align: center;
        font-size: 100px;
        color: #aabbcc;
    }

    .middle img {
        width: 100%;
    }

    .middle > figure {
        row-gap: 5vh;
        align-items: center;
    }

    .bottom {
        background-image: url(../img/togepi-.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 50vh;
        padding: 0 3%;
    }

    .bottom > aside {
        height: 100%;
        width: 80%;
        padding: 10%;
        background-color: rgba(220, 220, 220,.5);
        row-gap: 5vh;
        align-items: center;
    }

    .bottom p {
        line-height: 2.0;
    }

    .bottom a {
        width: 50%;
        background-color: var(--mainColor);
        color: whitesmoke;
        text-decoration: none;
        padding: 3%;
        text-align: center;
    }

    .aboutus {
        row-gap: 30vh;
        align-items: center;
    }

    .aboutus > article {
        row-gap: 10vh;
        width: 100%;
    }

    .aboutus aside {
        min-height: 50vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 3%;
    }

    .aboutus section {
        display: none;
    }

    .rock {
        background-image: url(/img/rock.jpg);
    }

    .pikachu {
        background-image: url(/img/pikachu.jpg);
    }

    .fushigidane {
        background-image: url(/img/fusigidane.jpg);
    }

    .aboutus span {
        color: whitesmoke;
    }

    .aboutus > a {
        width: 50%;
        background-color: var(--mainColor);
        color: whitesmoke;
        text-decoration: none;
        padding: 3%;
        text-align: center;
    }
}

@media (min-width:700px) {

    .question {
        width: 70%;
    }

    .strategies {
        width: 85%;
    }

    .strategies figure {
        flex-direction: row;
        column-gap: 5vh;
    }

    .strategies img {
        width: 20%;
    }

    .middle {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .middle > article,
    .middle > figure {
        width: 40%;
        padding: 3%;
    }

    .bottom {
        background-image: none;
    }

    .bottom aside {
        background-color: transparent;
    }

    .aboutus > article {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2vh;
    }

    .aboutus aside {
        display: flex;
        position: relative;
        /* align-items: flex-end; */
        overflow: hidden;
        min-height: 50vh;
        width: 49%;
        padding: 0;
    }

    .aboutus span {
        position: absolute;
        z-index: 1;
        padding-bottom: 5%;
    }

    .aboutus section {
        display: none;
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: rgba(220, 220, 220,.5);
        transition: .6s; 
    }

    .aboutus section > article {
        display: flex;
        column-gap: 4vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .aboutus article > a {
        text-decoration: none;
        width: 5vh;
        height: 5vh;
        border: 3px solid black;
        color: black;
        border-radius: 50%;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutus aside:hover section {
        display: flex;
        animation-name: grow;
        animation-duration: .6s;
        animation-timing-function: linear;
    }
    
    @keyframes grow {
        from {
            transform: translateY(50vh);
        }
        to {
            transform: translateY(0);
        }
    }

    .aboutus > a {
        width: 20%;
        padding: 2%;
    }
}

@media (min-width:1200px) {
    .top {
        flex-direction: row;
        column-gap: 5vh;
    }

    .question,
    .strategies {
        width: 45%;
    }

    .middle {
        column-gap: 3vh;
    }

    .middle > article {
        width: 22%;
    }


    .middle > figure {
        width: 32%;
        padding: 0;
    }

    .bottom {
        width: 50%;
    }

    .aboutus > article {
        column-gap: 3vh;
    }

    .aboutus aside {
        width: 32%;
    }
}