@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --mainColor: #0091ff;
}

@media (min-width:200px) {

    img {
        width: 10vh;
    }

    .services-body {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        align-items: center;
    }
   .contact-s {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    align-items: center;
    width: 100%;
   }

   .contact-s > h4, .services-s > h4 {
    font-weight: 500;
    border-bottom: 2px solid var(--mainColor);
    padding-bottom: 2vh;
   }

   .contact-s >form {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    width: 90%;

   }



   .contact-s input,.contact-s select, .contact-s textarea {
    padding: 3%;
   }

   .contact-s textarea {
    height: 20vh;
    resize: none;
   }
  

   .contact-s [type="submit"] {
    border:none;
    background-color: var(--mainColor);
    color: white;
    width: 50%;
   }

   /* FEATURES */

   .features-s {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    width: 90%;
   }
   .features-s > article {
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5vh;
        text-align: center;
   }

   .features-s i {
    padding-top: 5vh;
    font-size: 50px;
    color: #aabbcc;
   }
   .features-s p {
    padding: 5vh;
   }

   /* SERVICES */
   .services-s {
    display: flex;
    flex-direction: column;
    width: 90%;
    row-gap: 5vh;
    text-align: center;
   }

   .services-s figure:nth-child(4) {
        background-color: #f2f2f2;
   }

   .services-s img {
    width: 100%;
    height:25vh;
   }

   /* .services-s figure:nth-child(4) img {
 
} */
   .services-s > blockquote {
    background-color: #7f7f7f;
    color: white;
    padding: 10%;
    line-height: 1.5;
   }

   .services-s figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    row-gap: 2vh;
   }

   .services-s h6 {
    color: var(--mainColor);
    font-size: 16px;
   }


}

