@import url(home.css);
@import url(services.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width:200px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 90%;
        row-gap: 4vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    
    footer >p> a {
        color: #0091ff;
        text-decoration: none;
    }
    
    footer >ul {
        display: flex;
        justify-content: end;
        column-gap: 5vh;
    }
    
    footer li {
        display: flex;
    }
    
    footer > ul a {
    text-decoration: none;
    font-size: 30px;
    color: #aabbcc;
    }
}

@media(min-width:600px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    footer > p {
        width: 60%;
    }
}
